.footer {
    padding: 11px 0 31px 0;
    display: flex;    
    align-items: center;
    position: relative;
    @media screen and (min-width: 320px) {
        display: block;
    }   
    & p {
        font-weight: 400;
        font-size: 11px;
        line-height: 1;
        color: $blue;
        text-transform: uppercase;
        text-align: center;
        margin: 10px 0 17px 0;        
    }
    & img {        
        @media screen and (min-width: 320px) {
            margin: 0 auto;            
        }
        @media screen and (min-width: 1200px) {
            margin-right: 23px;
        }
    }
}
.footer__nav-up {
    @media screen and (min-width: 320px) {
        display: flex;
        gap: 8px;
        font-weight: 300;
        font-size: 14px;
        line-height: 1;
        color: #070716;
        text-transform: uppercase;
        height: 41px;
        align-items: flex-end;
        justify-content: center;       
    }    
    @media screen and (min-width: 1200px) {        
        margin: 0 auto 15px;          
    }
    &::before {
        display: flex;                
        content: '';
        background: $blue;
        width: 255px;
        height: 6px;
        position: absolute;
        margin: 0 auto 35px auto;                      
    }
    & a {
        color: #070716;
        cursor: pointer;
    }
}
.footer__nav-down {
    @media screen and (min-width: 320px) {
        display: flex;            
        font-weight: 300;
        font-size: 11px;
        line-height: 1;
        text-transform: uppercase;
        justify-content: space-between;
        margin: 0 15px;        
    }
    @media screen and (min-width: 1200px) {
        justify-content: center;
        gap: 11px;
    }
    & a {
        color: #999;
        cursor: pointer;
    }            
}
.footer__social-icon__indent {
    display: flex;
    gap: 5px;
    justify-content: center;
    margin: 37px 0 19px 23px;  
    @media screen and (min-width: 1200px) {
        margin-right: 1300px;
    }
}
.arrive {
    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: center;        
        position: absolute;
        top: 0;
    }
}
.footer__social-icon {
    display: flex;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #070716;
    align-items: center;
    justify-content: center;
}
.footer__store__indent {
    display: flex;
    gap: 6px;
    justify-content: center;    
}

