.header {
    background: #212121;
    @media screen and (min-width: 320px) {
        padding-top: 11px;
        padding-bottom: 11px;
        padding-right: 11px;
        text-align: end; 
    }
}

.navbar-up__list {
    @media screen and (min-width: 320px) {
        display: none;
    }
}

.mobile-menu-btn {
    @media screen and (min-width: 320px) {
        background: #212121;
        border: none;
    }
    
}
