$blue: #1ca8c3;
$bg_black: #212121;
$black: #000;
$white: #fff;
$red: #ff5656;

.header {
    background: $bg_black;
    @media screen and (min-width: 320px) {
        padding: 11px 11px 11px 0;
        text-align: end; 
    }

    @media screen and (min-width: 1200px) {
        padding: 15px 0 15px 0;               
    }
}

.navbar-up__list {
    @media screen and (min-width: 320px) {
        display: none;
    }

    @media screen and (min-width: 1200px) {
        display: flex;        
        gap: 29px;
        justify-content: space-between;
                      
        & a {
            text-decoration: none;
            font-family: "Roboto", sans-serif;
            font-weight: 300;
            font-size: 15px;
            line-height: 1;
            color: $white;            
            display:flex;
            align-items: center;
        }
        
        & .navbar-up__list-separator {
            display: flex;
            height: 31px;            
            border-right: 2px dotted $black;
        }                

        & .navbar-up__list-separator:last-child {
            border-right: none;
        }
    }
}

.mobile-menu-btn {
    @media screen and (min-width: 320px) {
        background: $bg_black;
        border: none;
    }
    
    @media screen and (min-width: 1200px) {
        display: none;
    }
}
