.header {
    background: #212121;
    @media screen and (min-width: 320px) {
        padding-top: 11px;
        padding-bottom: 11px;
        padding-right: 11px;
        text-align: end; 
    }

    @media screen and (min-width: 1200px) {
        padding-top: 15px;
        padding-bottom: 15px;
              
    }
}

.navbar-up__list {
    @media screen and (min-width: 320px) {
        display: none;
    }

    @media screen and (min-width: 1200px) {
        display: flex;        
        gap: 29px;
               
                & a {
                    text-decoration: none;
                    font-family: "Roboto", sans-serif;
                    font-weight: 300;
                    font-size: 15px;
                    line-height: 15px;
                    color: #fff;
                    margin-right: 29px;
                    display:flex;
                    align-items: center;
                }
        & .navbar-up__list-separator {
            display: flex;
            height: 31px;            
            border-right: 2px dashed #fff;
        }
                // & a::after {
                    // display: flex;
                    // position: absolute;
                    // content: '' url(../../// images/desktop/separator.// png);
                    // padding-left: 100px;     
                // }
    }
}



.mobile-menu-btn {
    @media screen and (min-width: 320px) {
        background: #212121;
        border: none;
    }
    
    @media screen and (min-width: 1200px) {
        display: none;
    }
}
