.navbar-down {
    @media screen and (min-width: 320px) {
        padding: 10px 0 10px 0;
        background: rgba(0, 0, 0, 1);
        opacity: 60%;
        position: absolute;
        width: 100%;
        z-index: 9;    
    }

    @media screen and (min-width: 1200px) {
        padding: 21px 0 19px 0;        
    }
}

.navbar-down__indent {
    display: flex;
    justify-content: space-between;
         

    @media screen and (min-width: 320px) {
        margin: 0;
    }

    @media screen and (min-width: 1200px) {
        margin: 0 26px;  
    }
}

.navbar-down__logo {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 13px;   

        @media screen and (min-width: 320px) {
            & p {
                display: none;
            }

            display: flex;
            align-items: center;
            justify-content: center;

            & img {
                width: 130px;
                height: 15px;
            }
        }

        @media screen and (min-width: 1200px) {            
            flex-direction: column;
            align-items: flex-start;

            & p {
                    display: flex;
                    color: $white;
                }

            & img {
                width: 285px;
                height: 32px;
            }
        }
}

.navbar-down__wrapper {
    @media screen and (min-width: 320px) {
        display: block;
        text-align: center;        
    }

    @media screen and (min-width: 1200px) {
        display: flex;       
    }
}
.navbar-down__list {
    font-family: "Roboto", sans-serif;    
    color: $white;

    @media screen and (min-width: 320px) {
        font-size: 12px;
        font-weight: 400;        
        
        & p {
            display: none;
        }
    }

    @media screen and (min-width: 1200px) {        
        display: flex;
        flex-direction: column;
        font-weight: 400;
        font-size: 22px;        
        margin-right: 30px;
        align-items: flex-end;

        & p {
            display: contents;
            font-weight: 300;
            font-size: 12px;              
        }
    }
}

.call-btn {
    @media screen and (min-width: 320px) {
        display: block;
        padding: 7px 9px 7px 9px;
        background: linear-gradient(#1EACC7 0%, #4CE2FF 100%);
        border-radius: 4px;
        border: none;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 10px;
        line-height: 2.2;
        color: $white;
        text-transform: uppercase;
        margin-top: 7px;
    }    

        @media screen and (min-width: 1200px) {
            padding: 17px 19px 17px 19px;
            font-size: 14px;
            margin-top: 0;
        }
}